.c-btn-primary {
    background-color: #289BDE
}

.w-bg-warning {
    background-color: #F4FAFD;
}

.r-btn-outline-primary {
    background-color: #F4FAFD;
}

.r-bg-info {
    background-color: #289BDE;
}

.f-bg-secondary {
    background-color: #161616;
}

.fa-solid {
    color: gold;
}

.fa-regular {
    color: orange;
}